page-home {
    .directive {
        font-size: 1.2em;
        color: #999999;
        font-weight: bold;
    }

    .result-ticket {
        border-radius: 5px;
        padding: 10px;
    }

    .valid-ticket {
        @extend .result-ticket;
        background-color: green;
    }

    .invalid-ticket {
        @extend .result-ticket;
        background-color: red;
    }

    .label-result {
        color: ghostwhite;
        font-size: 2em;
        text-align: center;
        display: block;
    }

    .item {
        padding-right: 16px;

        .info {
            margin-top: 5px;
        }

        .error {
            color: #dd5555;
            font-weight: bold;
            font-size: 1.2em;
            white-space: normal;
            overflow: visible;
        }
    }

    .list-md .item-block.no-border .item-inner {
        border: 0px;
    }
}