page-accueil {
    .div-button-camera {
        position: absolute; 
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;

        button {
            margin: 0px;
            width: 100%;
            height: 80px;
        }
    }

    .div-if-valid-ticket {
        background-color: green;
        border-radius: 5px;
        padding: 10px;
    }

    .div-if-invalid-ticket {
        background-color: red;
        border-radius: 5px;
        padding: 10px;
    }

    .label-result {
        color: ghostwhite;
        font-size: 32px;
        text-align: center;
        display: block;
    }

    .list-info {
        position: absolute;
        top: 13%;
    }
}
